<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Audio Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>YouTube Audio Downloader</h1>
        <form action="/download" method="post">
            <label for="url">YouTube URL:</label>
            <input type="text" id="url" name="url" required>
            <label for="name">Output File Name:</label>
            <input type="text" id="name" name="name" required>
            <input type="submit" value="Download">
        </form>
        <div class="create"> 
            <p>Created by Thiago Perius</p>
        </div>
    </div>
</body>
</html>